








.table-view {
    -fx-selection-bar: #4659E4;
    -fx-selection-bar-non-focused: #9da7f1;
    -fx-font-family:'Mallanna-Regular';
}



.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color: derive;
    -fx-stroke: transparent;
    -fx-size:35;
    -fx-alignment: CENTER ;
    -fx-text-alignment: center;
}
.table-row-cell:filled:hover {

    -fx-size:35;
    -fx-alignment: CENTER;
    -fx-text-alignment: center;
}

.table-view .column-header {
    -fx-background-color: #F9FAFE;
    -fx-font-size: 18px;
}

.table-view .table-cell{
    -fx-font-size:15px;
    /* -fx-text-fill:orange; */
}

.table-view:row-selection {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-fixed-cell-size: 35;
    -fx-alignment: CENTER;
    -fx-text-alignment: center;
}

.table-row-cell:empty  .table-cell{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
.table-row-cell:empty  {
    -fx-background-color: transparent;
}

.table-view .scroll-bar {
    -fx-opacity:0;
    -fx-padding: -10;
}




/*
.table-view{
    -fx-border-radius: 25;
    -fx-background-radius: 25;
}
*/


.table-view .table-column{
    -fx-text-alignment: center;
    -fx-alignment: CENTER

}

@font-face {
    font-family: Avenir-Book;
    src: url('/Application/Icons/AvenirLTStd-Book.otf');
}

@font-face {
    font-family: Avenir-85;
    src: url('/Application/Icons/Avenir-LT-Std-85-Heavy_5177.ttf');
}

@font-face {
    font-family: Avenir-Light;
    src: url('/Application/Icons/AvenirLTProLight.otf');
}

@font-face {
    font-family: Avenir-Black;
    src: url('/Application/Icons/AvenirLTProBlack.otf');
}

@font-face {
    font-family: Avenir-Heavy;
    src: url('/Application/Icons/AvenirLTProHeavy.otf');
}

@font-face {
    font-family: Avenir-Roman;
    src: url('/Application/Icons/AvenirLTProRoman.otf');
}

@font-face {
    font-family: Avenir-Medium;
    src: url('/Application/Icons/AvenirLTProMedium.otf');
}








/* Remove spacing /////////////////////////////////////////////////////// */
.pagination > .pagination-control > .control-box {
    -fx-spacing: 0;
}

/* You can control the actual button sizes here */
.pagination > .pagination-control > .control-box > .number-button,
.pagination > .pagination-control > .control-box > .bullet-button,
.pagination > .pagination-control > .control-box > .left-arrow-button,
.pagination > .pagination-control > .control-box > .right-arrow-button {
    -fx-background-insets: 0, 1;
    -fx-background-color: lightgray, #FAFAFA;
    -fx-min-width: 30;
    -fx-min-height: 30;
}

/* Colors on hover */
.pagination > .pagination-control > .control-box > .number-button:hover,
.pagination > .pagination-control > .control-box > .bullet-button:hover,
.pagination > .pagination-control > .control-box > .left-arrow-button:hover,
.pagination > .pagination-control > .control-box > .right-arrow-button:hover {
    -fx-background-insets: 0;
    -fx-background-color: lightgray;
}

/* Selected toggle color */
.pagination > .pagination-control > .control-box > .number-button:selected,
.pagination > .pagination-control > .control-box > .bullet-button:selected{
    -fx-background-insets: 0;
    -fx-background-color: #4659E4;
    -fx-text-fill: white;
}

.pagination {
    -fx-page-information-visible: false;
}


/********************************************************************************/



@font-face {
   src: url("/Application/Icons/BalooBhaina2-Medium.ttf");
}

.button-blue {
    -fx-background-color : #4659E4;
    -fx-background-radius : 10px;
    -fx-text-fill : white;
    -fx-font-family : "Baloo Bhaina 2 Medium";

    -fx-font-size : 15px;

    -fx-focus-traversable: false;
}


.search-text-field {
    -fx-background-image:url('/Application/Icons/searchIcon.png');
    -fx-background-repeat: no-repeat;
   -fx-background-position: 98%;

    -fx-background-radius : 12px;
    -fx-background-color:  #F9FAFE;
    -fx-font-fill: #7B889A;
    -fx-font-size: 20;
    -fx-focus-traversable: false;
}


.transparent-panel{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.round-pane{
    -fx-background-color: white;
    -fx-border-color: whitesmoke;
    -fx-border-width: 5px;
    -fx-background-radius: 15;
    -fx-border-radius:15;
}

.effect-shadow-box{
    -fx-background-color: white;
    -fx-border-radius: 25 25 25 25;
    -fx-background-radius: 25 25 25 25;
    -fx-effect: dropshadow(three-pass-box, whitesmoke, 3, 0, 0, 0);
}



.test-button{
    -fx-background-color: white;
    -fx-graphic: url('/Application/Icons/trash_can.svg');
    -fx-image: url('/Application/Icons/trash_can.svg');
    -fx-fill:blue;
}

.sort-type-button {
    -fx-background-color: red;
    -size: 25;
    -fx-min-height: 30;
    -fx-min-width: 30;
    -fx-max-height: 30;
    -fx-max-width: 30;
    -fx-shape: "M6 3l-6 8h4v10h4v-10h4l-6-8zm16 14h-8v-2h8v2zm  2 2h-10v2h10v-2zm-4-8h-6v2h6v-2zm-2-4h-4v2h4v-2zm-2-4h-2v2h2v-2z";
}

.sort-type-button:selected{
    -fx-background-color: red blue;
    -fx-background-insets:  0 30;
    -size: 25;
    -fx-min-height: 30;
    -fx-min-width: 30;
    -fx-max-height: 30;
    -fx-max-width: 30;
    -fx-shape: "M6 21l6-8h-4v-10h-4v10h-4l6 8zm16-12h-8v-2h8v2zm2-6h-10v2h10v-2zm-4 8h-6v2h6v-2zm-2 4h-4v2h4v-2zm-2 4h-2v2h2v-2z";
}

.newTestBtn{
    -fx-background-color : lightblue;
    -fx-border-color: green;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-shape: "M6 21l6-8h-4v-10h-4v10h-4l6 8zm16-12h-8v-2h8v2zm2-6h-10v2h10v-2zm-4 8h-6v2h6v-2zm-2 4h-4v2h4v-2zm-2 4h-2v2h2v-2z";

}

.btnWithSVG{
    -fx-graphic: url("/Application/Icons/sort.svg");
    -fx-background-color: blue;
}

.btnWithSVG .svg{
    -fx-background-color: green;
}



.newTestBtn .SVGPath{
    -fx-background-color: darkblue;
}

.test-button >.SVGPath{
    -fx-fill: yellow;
}

.spinner > .text-field{
    -fx-background-color: white;
    -fx-border-color: grey;
    -fx-border-radius: 10 0 0 10;
}

.delete-button{
    -fx-background-color: #4659E4;
    -size: 25;
    -fx-min-height: 30;
    -fx-min-width: -size;
    -fx-max-height: 30;
    -fx-max-width: -size;
    -fx-shape: "M3 6v18h18v-18h-18zm5 14c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm5 0c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm5 0c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm4-18v2h-20v-2h5.711c.9 0 1.631-1.099 1.631-2h5.315c0 .901.73 2 1.631 2h5.712z";
}

.delete-button:hover{
    -fx-background-color:  #ff3d3d;
}

.print-button{
    -fx-background-color: #4659E4;
    -size: 30;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
    -fx-shape:"M14 20h-6v-1h6v1zm10-15v13h-4v6h-16v-6h-4v-13h4v-5h16v5h4zm-6 10h-12v7h12v-7zm0-13h-12v3h12v-3zm4 5.5c0-.276-.224-.5-.5-.5s-.5.224-.5.5.224.5.5.5.5-.224.5-.5zm-6 9.5h-8v1h8v-1z";
}
.print-button:hover{
   -fx-background-color:#1e33cd ;
}

.dispatch-button{
    -fx-background-color: #4659E4;
    -size: 25;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
    -fx-shape:"M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z";
}
.dispatch-button:hover{
    -fx-background-color: #ff3d3d  ;
}

.setting-button{
    -fx-background-color: #B4BED0;
    -fx-font-family: Avenir-Roman;
    -size: 25;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
    -fx-shape: "M24 13.616v-3.232c-1.651-.587-2.694-.752-3.219-2.019v-.001c-.527-1.271.1-2.134.847-3.707l-2.285-2.285c-1.561.742-2.433 1.375-3.707.847h-.001c-1.269-.526-1.435-1.576-2.019-3.219h-3.232c-.582 1.635-.749 2.692-2.019 3.219h-.001c-1.271.528-2.132-.098-3.707-.847l-2.285 2.285c.745 1.568 1.375 2.434.847 3.707-.527 1.271-1.584 1.438-3.219 2.02v3.232c1.632.58 2.692.749 3.219 2.019.53 1.282-.114 2.166-.847 3.707l2.285 2.286c1.562-.743 2.434-1.375 3.707-.847h.001c1.27.526 1.436 1.579 2.019 3.219h3.232c.582-1.636.75-2.69 2.027-3.222h.001c1.262-.524 2.12.101 3.698.851l2.285-2.286c-.744-1.563-1.375-2.433-.848-3.706.527-1.271 1.588-1.44 3.221-2.021zm-12 2.384c-2.209 0-4-1.791-4-4s1.791-4 4-4 4 1.791 4 4-1.791 4-4 4z";
}

    .setting-box:hover > .button  {
        -fx-background-color: white;
    }

    .setting-box:hover > .label{
        -fx-text-fill: white;
    }


.custom-toggle-button {
    -fx-background-color: #4659E4;
    -fx-background-radius: 10px;
    -fx-text-fill: white;
    -fx-font-family: "Avenir LT Std 45 Book";
    -fx-font-size: 20px;
    -fx-focus-traversable: false;

}

.logout-button{
    -fx-background-color: black;
    -size: 25;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
    -fx-shape:"M10 9.408l2.963 2.592-2.963 2.592v-1.592h-8v-2h8v-1.592zm-2-4.408v4h-8v6h8v4l8-7-8-7zm6-3c-1.787 0-3.46.474-4.911 1.295l.228.2 1.396 1.221c1.004-.456 2.114-.716 3.287-.716 4.411 0 8 3.589 8 8s-3.589 8-8 8c-1.173 0-2.283-.26-3.288-.715l-1.396 1.221-.228.2c1.452.82 3.125 1.294 4.912 1.294 5.522 0 10-4.477 10-10s-4.478-10-10-10z";
}

.logout-button:hover{
    -fx-background-color:#1e33cd ;
}



.icon-button {
    -icon-paint: red;
    -fx-content-display: graphic-only;

    -icon-paint: red;
}

.icon-button:hover {
    -icon-paint: red;
}

.icon-button .icon {
    -fx-background-color: blue;
    -size: 24;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;

    -fx-shape: "M3 6v18h18v-18h-18zm5 14c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm5 0c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm5 0c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm4-18v2h-20v-2h5.711c.9 0 1.631-1.099 1.631-2h5.315c0 .901.73 2 1.631 2h5.712z";
}

.newBtn{
    -fx-graphic: url('/Application/Icons/trash-can-blue.png');
    -size: 24;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
    -fx-background-color: lightgreen;
}


/*////////////////////////  -- Check Box -- ////////////////////////////*/
.check-box {
    /* default properties */
    selected-box-color: transparent;
    box-color: transparent;
    mark-color: grey;
}

.check-box:selected > .box {
    /* background color for selected checkbox */
    -fx-background-color: selected-box-color;
}

.check-box > .box {
    /* background color of unselected checkbox */
    -fx-background-color: box-color;
}

.check-box:selected > .box > .mark,
.check-box:indeterminate  > .box > .mark {
    /* modify mark color */
    -fx-background-color: mark-color;
}
/*/////////////////////////////////////////////*/
.profile-pic-button{
    -fx-background-color: Black;
    -size: 40;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
    -fx-shape:"M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm7.753 18.305c-.261-.586-.789-.991-1.871-1.241-2.293-.529-4.428-.993-3.393-2.945 3.145-5.942.833-9.119-2.489-9.119-3.388 0-5.644 3.299-2.489 9.119 1.066 1.964-1.148 2.427-3.393 2.945-1.084.25-1.608.658-1.867 1.246-1.405-1.723-2.251-3.919-2.251-6.31 0-5.514 4.486-10 10-10s10 4.486 10 10c0 2.389-.845 4.583-2.247 6.305z";
}

.profile-pic-button:hover{
    -fx-background-color: #1e33cd;
}

.notification-button{
    -fx-background-color: BLACK;
    -size: 30;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
-fx-shape : "M15 21c0 1.598-1.392 3-2.971 3s-3.029-1.402-3.029-3h6zm.137-17.055c-.644-.374-1.042-1.07-1.041-1.82v-.003c.001-1.172-.938-2.122-2.096-2.122s-2.097.95-2.097 2.122v.003c.001.751-.396 1.446-1.041 1.82-4.668 2.709-1.985 11.715-6.862 13.306v1.749h20v-1.749c-4.877-1.591-2.193-10.598-6.863-13.306zm-3.137-2.945c.552 0 1 .449 1 1 0 .552-.448 1-1 1s-1-.448-1-1c0-.551.448-1 1-1zm-6.451 16c1.189-1.667 1.605-3.891 1.964-5.815.447-2.39.869-4.648 2.354-5.509 1.38-.801 2.956-.76 4.267 0 1.485.861 1.907 3.119 2.354 5.509.359 1.924.775 4.148 1.964 5.815h-12.903z";
}

.notification-button:hover{
    -fx-background-color: #1e33cd;
}

.close-button {
    -fx-background-color: #4659E4;
    -size: 24;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
    -fx-shape: "M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z";
}

.close-button:hover{
    -fx-background-color: #6275FC;
}

.maximize-button{
    -fx-background-color: #4659E4;
    -size: 24;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
    -fx-shape: "M0 3v18h24v-18h-24zm22 16h-4v-10h-16v-4h20v14z";
}

.minimize-button{
    -fx-background-color: #4659E4;
    -fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
}






.label-heading{
    -fx-font-family: "Avenir-Black";
    -fx-font-weight:Bold;
    -fx-font-size: 40;
}

.label-field-title{
    -fx-font-family: "Avenir-Light";
    -fx-font-size: 20;
    -fx-font-weight: bold;
}



/*///////////// Text Area ********/
.text-area {
    -fx-background-color: white;
    -fx-border-color: grey;
    -fx-border-radius:12;
    -fx-background-radius:12;
    -fx-font-family: "Candara";
    -fx-font-size: 20;
    -fx-focus-traversable: false;}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}
.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}
.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}
/**********************-- Text Area ********************/
.text-field-rounded{
    -fx-background-radius : 12px;
    -fx-border-radius: 12px;
    -fx-background-color:  white;
    -fx-border-color: grey;

    -fx-font-family: "Candara";
    -fx-font-size: 20;
    -fx-focus-traversable: false;
}


.text-field-disabled{
    -fx-background-radius : 12px;
    -fx-border-radius: 12px;
    -fx-background-color:  whitesmoke;
    -fx-border-color: grey;

    -fx-font-family: "Candara";
    -fx-font-size: 20;
    -fx-focus-traversable: false;
}





.combo-box-rounded{
    -fx-border-radius: 12px;
    -fx-background-radius: 12px;
    -fx-background-color : white;
    -fx-border-color: grey;

    -fx-selection-bar:#4659E4;
    -fx-focus-color: #4659E4;
    -fx-faint-focus-color:white;

    -fx-font-family: "Candara";
    -fx-font-size: 20;
    -fx-focus-traversable: false;
}


.combo-box-rounded .combo-box-popup > .list-view{
    -fx-border-color : transparent;
    -fx-background-radius: 12;
    -fx-border-radius: 12;
}
.combo-box-rounded .combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:selected{
-fx-background-color: #4659E4;
}


.combo-box-rounded .combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell {
    -fx-border-radius: 12;
    -fx-background-radius: 12;
    -fx-border-color: transparent;
}



.date-picker {
    -fx-background-radius: 12;
    -fx-border-radius: 12;
    -fx-background-color:  white;
    -fx-border-color: grey;

    -fx-font-family: "Candara";
    -fx-font-size: 20;
}
.date-picker-popup{
    -fx-alignment: right ;
    -fx-scale-y: 1;
    -fx-scale-x: 1;
}

.date-picker > .text-field{
    -fx-background-radius: 12 0 0 12;
    -fx-background-color: white;
    -fx-border-color: lightgrey;
    -fx-border-radius:  12 0 0 12;
}

.date-picker > .arrow-button{
    -fx-background-color: white;
    -fx-background-radius: 12;
    -fx-border-radius: 12;

}

.date-picker > .arrow-button > .arrow {
    -fx-shape: "M24 2v22h-24v-22h3v1c0 1.103.897 2 2 2s2-.897 2-2v-1h10v1c0 1.103.897 2 2 2s2-.897 2-2v-1h3zm-2 6h-20v14h20v-14zm-2-7c0-.552-.447-1-1-1s-1 .448-1 1v2c0 .552.447 1 1 1s1-.448 1-1v-2zm-14 2c0 .552-.447 1-1 1s-1-.448-1-1v-2c0-.552.447-1 1-1s1 .448 1 1v2zm6.687 13.482c0-.802-.418-1.429-1.109-1.695.528-.264.836-.807.836-1.503 0-1.346-1.312-2.149-2.581-2.149-1.477 0-2.591.925-2.659 2.763h1.645c-.014-.761.271-1.315 1.025-1.315.449 0 .933.272.933.869 0 .754-.816.862-1.567.797v1.28c1.067 0 1.704.067 1.704.985 0 .724-.548 1.048-1.091 1.048-.822 0-1.159-.614-1.188-1.452h-1.634c-.032 1.892 1.114 2.89 2.842 2.89 1.543 0 2.844-.943 2.844-2.518zm4.313 2.518v-7.718h-1.392c-.173 1.154-.995 1.491-2.171 1.459v1.346h1.852v4.913h1.711z";
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
 /*   -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.416667em 0.416667em 0.333333em 0.333333em; /* 5 5 4 4 */
    -fx-pref-width: 30;
    -fx-scale-x: 1;
    -fx-scale-y: 2;


    -fx-scale-shape: true;
}



/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.accordion {
    -fx-background-color : #4659E4;
}

.titled-pane
{
   /* -fx-skin: "com.sun.javafx.scene.control.skin.TitledPaneSkin";*/
    -fx-text-fill: #B4BED0;
    -fx-font-family: 'Avenir-85';
    -fx-font-size:25;
}
.titled-pane:focused
{
    -fx-text-fill: white;

}
.titled-pane > .title
{
    -fx-background-color: transparent;
    -fx-background-insets:  10, 60;
    -fx-background-radius: 15 15 0 0 , 15 15 15 15 ;
    -fx-border-radius: 15 15 0 0 , 15 15 15 15 ;
    -fx-border-color: #4659E5;
    -fx-padding: 0.166667em 0.833333em 0.25em 0.833333em;
}

.titled-pane:focused > .title
{
  /*  -fx-color: -fx-focus-color;*/
    /*-fx-background-color: linear-gradient(to left, #6275FC, transparent );*/

    -fx-background-color : #5A6AE7, linear-gradient(to left, #95A1FE 0%, #6275FC 100%);
    -fx-background-insets: 2 ,1;
    -fx-background-radius: 15 15 0 0 , 15 15 15 15;
}

.titled-pane:hover {
    -fx-text-fill: white;
}
.titled-pane > .title > .arrow-button .arrow{
    -fx-background-color: white;
}

.titled-pane:expanded >.title{
    -fx-background-color : #5A6AE7, linear-gradient(to left, #95A1FE 0%, #6275FC 100%);
    -fx-background-insets: 2 ,1;
    -fx-background-radius: 15 15 0 0 , 15 15 15 15;
}



.titled-pane > .title > .arrow-button
{
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0.0em 0.25em 0.0em 0.0em;
}

.titled-pane > .title > .arrow-button .arrow
{
    -fx-background-color: #B4BED0;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.25em 0.3125em 0.25em 0.3125em;
    -fx-shape: "M 270.30,58.65 C 270.30,58.65 153.00,175.95 153.00,175.95 153.00,175.95 35.70,58.65 35.70,58.65 35.70,58.65 0.00,94.35 0.00,94.35 0.00,94.35 153.00,247.35 153.00,247.35 153.00,247.35 306.00,94.35 306.00,94.35 306.00,94.35 270.30,58.65 270.30,58.65 Z";

}

.titled-pane:collapsed > .title > .arrow-button .arrow
{
    -fx-rotate: -90;
}



.titled-pane > *.content
{
    -fx-background-color: linear-gradient(to left, #5A6AE8 0%, #5A6AE6 100%);
    -fx-background-radius: 0 0 12 12;
    -fx-border-color: #4659E5;
    -fx-border-radius: 0 0 12 12;
    -fx-background-insets: 0, 0 1 1 1;
    -fx-padding: 0.167em;
}


.menu-label{
    -fx-text-fill: #B4BED0;
    -fx-font-family: 'Avenir-Light';
    -fx-font-scale: 1.2;
    -fx-font-size: 16;
}

.menu-label:hover{
    -fx-text-fill: white;
}


/*///*********************  Pagination Mist Silver ***************************/
.pagination .pagination-control .left-arrow {
    -fx-background-color: -fx-mark-color;
    -fx-background-insets: 0;
    -fx-padding:7 6 0 0;
    -fx-shape: "m 11.499,17.75 -2.889,0 -3.86,-4.124 3.86,-4.125 2.889,0 -3.375,4.125 3.375,4.124 z";
    -fx-scale-shape: true;
}
.pagination .pagination-control .right-arrow {
    -fx-background-color: -fx-mark-color;
    -fx-background-insets: 0;
    -fx-shape: "m 4.75,9.501 2.889,0 3.86,4.124 -3.86,4.125 -2.889,0 L 8.125,13.625 4.75,9.501 z";
    -fx-padding:7 6 0 0;
    -fx-scale-shape: true;
}
.pagination .pagination-control .bullet-button {
    -fx-background-color: rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(222,223,228) 0%,rgb(195,199,203) 100%);
    -fx-background-insets: 4,5,6;
    -fx-background-radius: 4em, 4em, 4em;
    -fx-padding: 0.333em;
}
.pagination .pagination-control .left-arrow-button{
    -fx-padding: 1;
}
.pagination .pagination-control .right-arrow-button {
    -fx-padding: 1;
}
.pagination .pagination-control .number-button {
    -fx-padding: 1 2 1 2;
}
.pagination .pagination-control .bullet-button:hover {
    -fx-background-color: rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(237,239,245) 0%,rgb(211,214,217) 100%);

}

.pagination .pagination-control .bullet-button:pressed {
    -fx-background-color: rgb(76,81,86),rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(168,177,190) 0%,rgb(140,150,162) 100%);
    -fx-background-insets: 4,5,6,7;
}
.pagination .pagination-control .bullet-button:selected {
    -fx-background-color: rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(209,223,233) 0%,rgb(199,214,224) 100%);
    -fx-background-insets: 4,5,6;
}
.pagination.bullet .pagination-control .left-arrow-button, .pagination.bullet .pagination-control .right-arrow-button {
    -fx-background-radius: 4em;
}
.pagination .pagination-control .number-button {
    -fx-background-color: rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(222,223,228) 0%,rgb(195,199,203) 100%);
    -fx-background-insets: 0,1,2;
    -fx-border-color: transparent;
    -fx-background-radius: transparent;
}
.pagination .pagination-control .number-button:hover {
    -fx-background-color: rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(237,239,245) 0%,rgb(211,214,217) 100%);
    -fx-background-insets: 0,1,2;
}
.pagination .pagination-control .number-button:pressed {
    -fx-background-color: rgb(76,81,86),rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(168,177,190) 0%,rgb(140,150,162) 100%);
    -fx-background-insets: 0,1,2,3;
}
.pagination .pagination-control .number-button:selected {
    -fx-background-color: rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(209,223,233) 0%,rgb(199,214,224) 100%);
    -fx-background-insets: 0,1,2;
}
.pagination .pagination-control .page-information {
    -fx-text-fill: black;
}



.text-input:error {
    -fx-border-color: red;
}